.hero
  .container
    %h1.text-center
      Email dành riêng cho
      %br
      Môi giới bất động sản Việt Nam
      %br
      %br
      %small Kiểm tra việc khách hàng đọc email, kiểm tra việc khách hàng click vào link thông tin, tự động cập nhất tới khách hàng đã mua về tiến độ thi công dự án trên danh mục dự án được cấp nhật sẵn, email về thông tin dự án cho khách hàng đang quan tâm và nhiều tiện ích khác  
    .text-center
      %span
        %a.btn.btn-static-inverse{:href => "/enterprise/demo"} Demo sản phẩm
      %span.hidden-xs
        %a.btn.btn-static-primary.m-l{:href => "/signup"}
          Dùng thử miễn phí 14 ngày
          %i.fa.fa-caret-right
          %span.no-card Chỉ tốn 5 phút
    .spacer30.clearfix
    %h4.text-center.hidden-xs Những nhà môi giới chuyên nghiệp nhất đều sẽ chọn Aligosa
    .spacer10