%section.oddbg.hidden-xs
  .container
    %h2.underlined.text-center Aligosa luôn tự hoàn thiện mỗi ngày để phục vụ bạn
    %p.section-heading.text-center Hệ thống của chúng tôi có thể đồng thời gửi đi hàng vạn email đã được tối ưu tới khách hàng của bạn
