%section.evenbg
  .container.text-center
    %h2.underlined Nâng cao khả năng chăm sóc khách hàng
    %p.section-heading
      Bạn muốn nắm bắt và đánh giá khách hàng của mình mà không cần tốn quá nhiều thời gian
      %br>/
      Chỉ cần 10 phút mỗi ngày
    .spacer30
    .row
      .col-sm-3.col-sm-offset-1
        %img{:src => asset_path("speed-thought.png")}/
        %br/
        %h3 Truy xuất dữ liệu nhanh, hoàn toàn tự động
      .col-sm-4
        %img{:src => asset_path("relevant.png")}/
        %br/
        %h3 Dữ liệu được đảm bảo an toàn, chỉ có bạn mới có quyền truy cập
      .col-sm-3
        %img{:src => asset_path("any-device.png")}/
        %br/
        %h3 Dịch vụ hỗ trợ đa nên tảng, sử dụng ở mọi nơi
    .spacer40
    %a.btn.btn-static-default{:href => "/documentation"} Đọc thêm
